<!-- <p>showdetails success!{{message}}</p> -->
<!-- <img src = "assets\maid1_m.JPG"> -->
<img src = "\assets\{{message}}.png">
<button class="btn btn-secondary btn-block btn-sm col-md-10 mx-auto width: 200px" (click)= "clickevent()"><i
        class="fa fa-close"></i>Book</button>