<style>
  .background{
    background-image: url("/assets/city.jfif"); 
    /* background-color: #cccccc00; */
    height:  100vh;
    /* width: auto; */
    /* background-position: right; */
    background-repeat: repeat;
    /* background-size: cover; */
    position: relative;
    /* top: -200px; */
  
  }
  /* .image {
   position: relative;
   top: 180px;
   right: -600px; */


</style>

<!-- <img src = "\assets\maid1_m.jpg" alt="image" width="300" height="400" style="float: right"> -->
<div class = "background">

<!--p>selectlocation works!</p-->
<form>
  
<label ngfor="Location">Choose A Location:</label>
<form #selectlocation="ngForm" (ngSubmit)= "showMaids( )"></form>

<!--select name="loction" id="Location">
  <select (change)= "selectChange ($event)">
  <optgroup label="Location">
    
  </optgroup> 
  </select> 
  <p>You selected: {{selectlocation}}</p>
</select-->

  <h2><span style = "color : white;">Select a Location:</span></h2>
    <select (change)="selectChange1($event)">
      <option value="" selected disabled>EnterLocation</option>
      <option value="Pune">Pune</option>
      <option value="Mumbai">Mumbai</option>
      <option value="Banglore">Banglore</option>
      <!-- <option value="Delhi">Delhi</option> -->
    </select>
    <p><span>You selected: </span><b>{{selectedLocation}}</b></p>
<!--for="Category">Choose A Category:</label-->

<!-- <h2><span>Select a Category:</span></h2>
<select (change)="selectChange2($event)">
  <option value="Cooking">Cooking</option>
  <option value="Cleaning">Cleaning</option>
  <option value="Nanny">Nanny</option>
</select>
<p><span>You selected: </span><b>{{selectedCategory}}</b></p> -->
<button type="submit" class="btn btn-info" (click)= "showMaids()">Show Maids</button>
</form>

  
<!--h4>native html select</h4>
<mat-form-field appearance="fill">
<mat-label>Choose an option</mat-label>
<select matNativeControl [disabled]="disableSelect.value">
      <option value="" selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab" disabled>Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
</mat-form-field-->
  
<div class="jumbotron bg-light text-warning align-content-center">


  <div class=" jumbotron mx-auto width: 100px">
    <div>
    </div><br>
    <div class="table table-hover table-borderless text-dark table-secondary col-lg-12 ">
      <!-- <img src="\src\assets\download.jfif" alt="Italian Trulli" width= "500" height="600"> -->
      
      <h4>Maids Data</h4>
      <!--th>id</th-->
      
      <th>NAME</th>
      <th>loction</th>
      <th>Category</th>
      <th>Detais</th>

      <tr *ngFor="let maid of maids">
        <!--td>{{maid.id}}</td-->
        <td>{{maid.name}}</td>
        <td>{{maid.location}}</td>
        <td>{{maid.catagory}}</td>
        <button class="btn btn-secondary btn-block btn-sm col-md-10 mx-auto width: 200px" (click)= "clickevent(maid.name)"><i
          class="fa fa-close"></i>View Details</button>
        <a class = "btn">
          <i class = "fa fa-Details" (click)= "clickevent()"></i>
        </a>
      </tr>
       
    </div>
  </div>
</div>
</div>