<p>maids-list works!</p>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table id="example" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th >Name</th>
            <th >Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let maids of maids | async">
            <td>{{maids.name}}</td>
            <td>{{maids.email}}</td>
            
            
              <!--td><button style='margin-right:16px' (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button style='margin-right:16px' (click)="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 10px">Edit details</button>
              </td-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>



    
    