


<div>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">
        
      <li class="nav-item active">
        <a class="navbar-brand" href="#">Looking For Helpers</a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/maids" routerLinkActive="active">Maids List</a>
          </li>


    </ul>

  </nav>
  <div class="container">
    <br>
    <h3 style="text-align: center;">SPRING BOOT-ANGULAR 8-CRUD API WITH DATA TABLE</h3>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  </div>



