<style>
  .background{
    background-image: url("/assets/background1.jpg"); 
    /* background-color: #cccccc00; */
    height:  100vh;
    /* width: auto; */
    /* background-position: right; */
    background-repeat: repeat;
    /* background-size: cover; */
    position: relative;
    /* top: -200px; */
  
  }
  .image {
   position: relative;
   top: 180px;
   right: -600px;
}

</style>

<!-- <img src = "\assets\maid1_m.jpg" alt="image" width="300" height="400" style="float: right"> -->
<div class = "background">
<div class="container"style="max-width: 600px;position: left; margin-left: 300px; margin-top: 0px; ">
  <div class= "image">
    <img src = "\assets\rightcorner.jpg" alt="image" width="300" height="300"  style="float: right" style="right: 50px">
    </div>
  <form #loginform="ngForm" (ngSubmit) = "loginUser(user.emailId)" style="margin-top: -180px;padding-top: 100px;">
    <h2>User Login</h2>

      <!-- {{loginform.form.valid}} -->
      <small class = "text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)] = "user.emailId" #email="ngModel" required  pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        [class.is-invalid] = "email.invalid && email.touched"
        >

        <!--small class = "text-danger" [class.d-none] = "email.valid || email.untouched"> Email Id is requried field</small>-->
        
        <div *ngIf = "email.errors && (email.invalid && email.touched)"> 
          <small class = "text-danger" *ngIf = "email.errors.requried"> Email Id Is Requried Field </small>
          <small class = "text-danger" *ngIf = "email.errors.pattern"> Enter The Valid Email Id</small>
          
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)] = "user.password" #password="ngModel" required
        [class.is-invalid] = "email.invalid && email.touched"
        >
        <small class = "text-danger" [class.d-none] = "password.valid || password.untouched"> password is requried field</small>

      </div>
      <!-- <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div> -->
      <button [disabled]= "loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
    </form>
    <small class = "float-right" (click) = "gotoregistration()"> New User ? Register Here</small>
  </div>
</div>