<style>
  .background{
    background-image: url("/assets/maid1_b.jpg"); 
    /* background-color: #cccccc00; */
    height:  100vh;
    /* width: auto; */
    /* background-position: right; */
    background-repeat: repeat;
    /* background-size: cover; */
    position: relative;
    /* top: -200px; */
  
  }
  .image {
   position: relative;
   top: 180px;
   right: -600px;
}

</style>

<!-- <img src = "\assets\maid1_m.jpg" alt="image" width="300" height="400" style="float: right"> -->
<div class = "background">

<!-- <h2>Book Slot!</h2> -->
<div class="jumbotron bg-light text-warning align-content-center">


    <div class=" jumbotron mx-auto width: 200px">
      <div>
      </div><br>
      <div class="table table-hover table-borderless text-dark table-secondary col-lg-12 ">
        <!-- <img src="\src\assets\download.jfif" alt="Italian Trulli" width= "500" height="600"> -->
        
        <h2>Book A Maid </h2>
        <!--th>id</th-->
        
        <th>NAME</th>
        <th>time</th>
        <th></th>
        <th></th>
  
        <tr *ngFor="let time of Time">
          <!--td>{{maid.id}}</td-->
 
          <td>{{time.name}}</td>
          <td>{{time.time}}</td>
          
          <div *ngIf = "time.bit === 0">    
            <button type="button" class="btn btn-danger">Unavilable</button> </div>
            
          <div *ngIf = "time.bit === 1">    
            <button type="button" class="btn btn-primary"(click) ="myFunction( time.time,time.name)">Book</button>  </div>  
          <!-- <button class="btn btn-secondary btn-block btn-sm col-md-30 mx-auto width: 200px"><i
            class="fa fa-close"></i>book</button> -->
            
        </tr>
         
      </div>
    </div>
  </div>
</div>