
<style>
  .background{
    background-image: url("/assets/background.jpg"); 
    /* background-color: #cccccc00; */
    height:  100vh;
    /* width: auto; */
    /* background-position: right; */
    background-repeat: repeat;
    /* background-size: cover; */
    position: relative;
    /* top: -200px; */
  
  }
  .image {
   position: relative;
   top: 180px;
   right: -600px;
}

</style>

<!-- <img src = "\assets\maid1_m.jpg" alt="image" width="300" height="400" style="float: right"> -->
<div class = "background">
  <div class = "container" style="max-width: 600px;position: left; margin-left: 300px; margin-top: 0px; ">
    <div class= "image">
    <img src = "\assets\rightcorner.jpg" alt="image" width="300" height="300"  style="float: right" style="right: 50px">
    </div>
      <!-- <h2 class="textual"> User Registration</h2> -->
    <form #Registrationform="ngForm" (ngSubmit)= "registerUser()" style="margin-top: -180px;">
      <!-- <small [class.text-danger]= "msg.status==500" > {{ msg.message}}</small> -->
      <h2 class="textual"> User Registration</h2>
      <!-- <small [class.text.daner]= "msg.status==500"> {{ msg.message}}</small> -->
    <div class="form-group">
      <label for= "email">Email:</label>
      <input type="email" class ="form-control" placeholder="Enter email" name= "email" [(ngModel)]= "user.emailId"  pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel" requird
      [class.is.invalid]= "email.invalid && email.touched">
      <div *ngIf= "email.errors && (email.invalid && email.touched)">
        <small class = "text-danger" *ngIf= "email.errors.requried">Email Id is requried field </small>
        <small class = "text-danger" *ngIf= "email.errors.pattern">Enter the valid emailID</small>
      </div>
    </div>

    <div class = "form-group">
      <label for="username"> User Name:</label>
      <input type="text" class = "form-control" placeholder="Enter username" name = "username" [(ngModel)] = "user.userName" #username = "ngModel" required
       [class.is-invalid]= "username.invalid && username.touched">
      <small class="text-danger" [class.d-none] = "username.valid || username.untouched">User Name is requried field </small> 
    </div>
    
    <div class = "form-group">
      <label for="pwd"> Password:</label>
      <input type="password" class = "form-control" placeholder="Enter password" name = "password" [(ngModel)] = "user.password" #password = "ngModel" required
       [class.is-invalid]= "password.invalid && password.touched">
      <small class="text-danger" [class.d-none] = "password.valid || password.untouched">Password Is Requried Field </small>
    
    </div>

    <div class = "form-group">
      <label for="pwd"> Confirm Password:</label>
      <input type="password" class = "form-control" placeholder="Enter Confirm password" name = "cpassword"  (ngModel)= "user.password" #cpassword = "ngModel" required
       [class.is-invalid]= "cpassword.invalid && cpassword.touched">
      <small class="text-danger" [class.d-none] = "(cpassword.valid == password.value) || cpassword.untouched"></small>
    
    </div>

    <button [disabled] = "Registrationform.form.invalid" type = "submit" class = "btn btn-info">Register</button>
    <small class = "float-right btextual" [routerLink]="['/login']">Existing user ? Login here</small>
  </form>

  <!-- <br> -->
</div>

<!-- <br><br><br><br><br><br><br><br> -->
</div>